{% extends "musicd/layout.html" %}

{% block title %}Harmonica Upload{% endblock %}

{% block content %}
<h2>Upload successful</h2>
<div class="track">
  <h2 class="track-title">{{ track.title }}</h2>
  <span class="track-artist">{{ track.artist }}</span><br>
  <span class="track-album">{{ track.album }}</span><br>
  <span class="track-genre">{{ track.genre }}</span><br>
  <span class="track-download"><a target="_blank" href="{{ track.uploaded.url }}">Download</a></span>
</div>
<p class="link-home">Go back to <a href="{% url 'muscid:index' %}">Home</a></p>
{% endblock %}
